<!DOCTYPE html>
<html>
<head>
  <title>Phyor</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/mystyle.css">
</head>
<body>
	<header>
		<div class="container-fluid">
			<center>
				<h1>Phyor</h1>
				<nav class="navbar navbar-inverse">
				  <div class="container-fluid">
					<div class="navbar-header">
					  <a class="navbar-brand" href="index.html">Phyor</a>
					</div>
					<ul class="nav navbar-nav">
					  <li><a href="news.html">Home</a></li>
					  <li class="active"><a href="authors.html">Authors</a></li>
					  <li><a href="books.html">Books</a></li>
					  <li><a href="currencies.html">Currencies</a></li>
					  <li><a href="genres.html">Genres</a></li>
					  <li><a href="language.html">Languages</a></li>
					  <li><a href="publisher.html">Publishers</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
					  <li><a href="signUp.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
					  <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
					</ul>
				  </div>
				</nav>
			</center>
		</div>
	</header>
	
	<main>
		<div class="container-fluid">
			<center>
				<nav class="navbar navbar-inverse">
				  <div class="container-fluid">
					<ul class="nav navbar-nav">
					  <li class="active"><a href="add_author.html">Add author</a></li>
					  <li><a href="get_author.html">Search author</a></li>
					  <li><a href="get_authors.html">See a list with authors</a></li>
					  <li><a href="update_author.html">Update a specific author</a></li>
					  <li><a href="get_author_books.html">See a list with author's books</a></li>
					</ul>
				  </div>
				</nav>
			</center>
		</div>	
		
				
		<div class="container-fluid">
			<form class="addAuthor" method = "post">
				<div class="form-group">
				  <label for="authorName">Name:</label>
				  <input type="text" class="form-control" id="authorName" name="authorName" required>
				</div>
				<div class="form-group">
				  <label for="wikidataUri">WikidataUri:</label>
				  <input type="text" class="form-control" id="wikidataUri" name="wikidataUri" required>
				</div>
				<div class="form-group">
				  <label for="resourceUri">ResourceUri:</label>
				  <input type="text" class="form-control" id="resourceUri" name="resourceUri" required>
				</div>
				<div class="form-group">
					<button id="submitBtn" class="btn btn-lg btn-primary btn-block" type="submit" value="Check Status">Add author</button>
				</div>
				 
			</form>
		</div>
	</main>
	
	<footer>
		<div class="navbar navbar-fixed-bottom">
		<center>
			<p>Developed by: Bucur Irinel & Bantu Anca</p>
			<p>Contact information: <a href="mailto:irinel.bucur@gmail.com">
			irinel.bucur@gmail.com ;
			<a href="mailto:bantu_anca@yahoo.com">
			bantu_anca@yahoo.com</a>.</p>
			<p> &#169; 2019</p>
		</center>
		</div>
	</footer>
</body>
</html>