<!DOCTYPE html>
<html>
<head>
  <title>Phyor</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/mystyle.css">
</head>
<body>
	<header>
		<div class="container-fluid">
			<center>
				<h1>Phyor</h1>
				<nav class="navbar navbar-inverse">
				  <div class="container-fluid">
					<div class="navbar-header">
					  <a class="navbar-brand" href="index.html">Phyor</a>
					</div>
					<ul class="nav navbar-nav">
					  <li><a href="news.html">Home</a></li>
					  <li><a href="authors.html">Authors</a></li>
					  <li><a href="books.html">Books</a></li>
					  <li><a href="currencies.html">Currencies</a></li>
					  <li><a href="genres.html">Genres</a></li>
					  <li><a href="language.html">Languages</a></li>
					  <li><a href="publisher.html">Publishers</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
					  <li class="active"><a href="signUp.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
					  <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
					</ul>
				  </div>
				</nav>
			</center>
		</div>
	</header>
	
	<main>
	
	</main>
	
	<footer>
		<div class="navbar navbar-fixed-bottom">
		<center>
			<p>Developed by: Bucur Irinel & Bantu Anca</p>
			<p>Contact information: <a href="mailto:irinel.bucur@gmail.com">
			irinel.bucur@gmail.com ;
			<a href="mailto:bantu_anca@yahoo.com">
			bantu_anca@yahoo.com</a>.</p>
			<p> &#169; 2019</p>
		</center>
		</div>
	</footer>
</body>
</html>